@media (min-width: 320px) and (max-width: 560px) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 27px;
        row-gap: 20px;
        width: 87%;
        margin: auto;
        margin-top: 20px;
    }
    .buttonLink {
        text-decoration: none;
        color: black;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 123px;
        border-radius: 24px;
        align-items: center;
        background-color: white;
    }
    .icon1 {
        margin-top: 6%;
        width: 40%;
        height: 60%;
    }
    .icon2 {
        margin-top: 10%;
        width: 43%;
        height: 55%;
    }
    .content p {
        font-size: 100%;
        font-weight: 500;
        margin: 0;
        margin-top: 3px;
        font-family: 'Inter', sans-serif;
    }
    }